  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    
  }
  
  ul {
    position: relative;
    width: 300px;
    margin: auto;
  }
  
  li {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 18px;
    /* position: relative; */
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    cursor: grab;
    border: 2px solid black;
  }
  
  li svg {
    width: 18px;
    height: 18px;
    cursor: grab;
  }